<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %>></title>
</head>

<%- include('nav', {user: undefined}) %>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    <label for="firstname">First Name</label>
    <input name="firstname" placeholder="first name" type="text" />
    <label for="lastname">Last Name</label>
    <input name="lastname" placeholder="last name" type="text" />
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="email" />
    <label for="password">Password</label>
    <input name="password" placeholder="password"" type="password" />
    <button>Sign Up</button>
  </form>
</body>
</html>